<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predictio Page</title>
</head>
<body>
    <h2>Cancer Detection - Upload Image</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Predict</button>
    </form>
    
    {% if output_image_url %}
        <h3>Prediction Result:</h3>
        <img src="{{ output_image_url }}" width="500">
    {% endif %}
    

</body>
</html>